on init
    # system-background is for system tasks that should only run on
    # little cores, not on bigs
    # to be used only by init, so don't change system-bg permissions
    mkdir /dev/cpuset/system-background
    copy /dev/cpuset/cpus /dev/cpuset/system-background/cpus
    copy /dev/cpuset/mems /dev/cpuset/system-background/mems
    
    # change permissions for system-background we'll touch at runtime
    chown system system /dev/cpuset/system-background
    chown system system /dev/cpuset/system-background/tasks
    chmod 0775 /dev/cpuset/system-background
    chmod 0664 /dev/cpuset/system-background/tasks